@media screen and (max-width: 768px) {
  .right {
  float:none;
  }
}

.round {
    border-radius: 100px; /* Радиус скругления */
    box-shadow: 0 0 0 3px green, 0 0 13px #333; /* Параметры теней */
 }
